.navbar{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: rgba(70, 31, 132, 0.5);
}
.right{
    height: 60%;
    width:10% ;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
}
.left{
    height: 100%;
    width: 50%;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    vertical-align:middle ;
}

.right img{
    height: 35px;
    width: 35px;
}

.name{
    margin-top: 5%;
}

.incimg{
    height: 30px;
    width: 30px;
}

.addproduct{
    height:20% ;
    width: 20%;
    display: flex;
    justify-content: space-around;
}



