/* -------------------------------------------------------------import the font here-------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,500;0,700;0,900;1,300&display=swap');

/* ----------------------------------------------------giving auto padding margin boxsizing------------------------------------------------------*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "kalam",sans-serif;
} 


/* --------------------------------------------------------------------Navbar--------------------------------------------------------------------*/


.nav-bar{
    height:70px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.nav-bar a{
    text-decoration: none;
    color: white;
}

.nav-bar h2{
    font-size:40px ;
}

.addincart{
    font-size: 2rem;
}

.nav-bag{
    display: flex;
    align-items: center;
    z-index: 0;
}


.bag-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background: yellow;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 700;
    color: black;
    margin-left: 20px;
    margin-top: -40px;
    z-index: 1;
}


/* ---------------------------Page404-----------------*/


.page404{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(68,68,68);
    min-height: 88vh;
}


.page404 h2{
    font-size: 4rem;
}

.page404 p{
    font-size: 2rem;
}

/* ---------------------------------------------------------------Home------------------------------------------------------------------------- */

.home-container{
    padding: 2rem 4rem;
}

.home-container h2{
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}

.products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:2rem ;
}


.product{
    width: 250px;
    max-width: 100%;
    display: flex;
    height: 600px;
    flex-direction: column;
    justify-content: space-evenly;
    margin:1rem auto ;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: -5px -5px 18px rgba(255,255,255,0.5),2px 2px 5px rgba(94,184,121,0.3);
}

.product img{
    width: 200px;
    height: 40%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}


.product h3{
    font-size: 25px;
    font-weight: 400;
    height: 40;
    background-image: linear-gradient(270deg,rgb(130, 130, 130),white);
    border-radius: 10px;
    border: 1px solid black;

}


.product .details{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.product .details .price{
    font-size: 20px;
    font-weight: 700;
}

.product button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 2rem;
    font-weight: 400;
    border: none;
    outline:none;
    cursor: pointer;
    background-color: #4b70e2;
    color: white;
    letter-spacing:1.15px ;
}

.edit-delete{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 40px;
    margin-top:-30px ;
    margin-bottom: 30px;
}

.edit-delete button{
    width: 45%;
    height: 100%;
    background-color: #243874;
    color: white;
}

/* ----cart------ */

.cart-container{
    padding: 2rem 4rem;
}

.cart-container h2{
    font-weight: 400;
    font-size: 30px;
    text-align:center ;
}

.cart-container .titles{
    margin: 2rem 0 1rem 0;
}

.cart-container .titles h3{
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.cart-item, 
.cart-container .titles{
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
}

.cart-item{
    border-top:1px solid rgb(187,187,187) ;
    padding: 1rem 0;
}

.cart-container .titles .product-title{
    padding-left:0.5rem;
}

.cart-container .titles .total{
    padding-right: 0.5rem;
    justify-self: right;
}

.cart-item .cart-product{
    display: flex;
}
.cart-item .cart-product img{
    width: 80px;
    height: 100px;
    max-width: 100%;
    margin-right: 1rem;
}

.cart-item .cart-product h3{
    font-weight: 400;
}

.cart-item .cart-product button{
    border: none;
    outline: none;
    margin-top: 0.7rem;
    cursor: pointer;
    background-color: none;
    color: gray;
}

.cart-item .cart-product button:hover{
    color: black;
}

.cart-product-quantity{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 130px;
    max-width: 100%;
    border: 1px solid rgb(177,177,177);
    border-radius: 10px;
}

.cart-product-quantity button{
    border: none;
    outline: none;
    background: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
}

.cart-product-quantity .count{
    padding: 0.7rem 0;
}

.cart-product-total-price{
    justify-self: right;
    padding-right: 0.5rem;
    font-weight: 700;
}

/* ----cart Detail---- */

.cart-summary{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top:1px solid rgb(187,187,187);
    padding-top:2rem ;
}

.cart-summary .clear-btn{
    width: 130px;
    max-width: 100%;
    height: 40px;
    border-radius: 10px;
    font-weight: 400;
    letter-spacing: 1.15px;
    border:0.5px solid rgb(177,177,177) ;
    color: gray;
    background: none;
    outline: none;
    cursor: pointer;

}

.cart-summary .clear-btn:hover{
    color: black;
}

.cart-checkout{
    width: 250px;
    max-width: 100%;
}
.cart-checkout .subtotal{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.cart-checkout .subtotal .amount{
    font-weight: 700;
}
.cart-checkout p{
    font-size: 15px;
    font-weight: 200;
    margin: 0.5rem 0;
}
.cart-checkout button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    border: none;
    outline:none;
    cursor: pointer;
    background-color: #4b70e2;
    color: white;
    letter-spacing:1.15px ;
}

.continue-shopping,
.start-shopping{
    margin-top: 1rem;
}
.continue-shopping a,
.start-shopping a{
    color: gray;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.continue-shopping a span,
.start-shopping a span{
    margin-left: 0.5rem;
}

.continue-shopping a span:hover,
.start-shopping a span:hover{
    color: black;
}

.cart-empty{
    font-size: 20px;
    margin-top: 2rem;
    color: rgb(84,84,84);
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* -------------------------------------------------------Update Form------------------------------------------------------------------------- */
.updateform{
    width: 250px;
    max-width: 100%;
    display: flex;
    height: 600px;
    flex-direction: column;
    justify-content: space-around;
    margin:1rem auto ;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: -5px -5px 18px rgba(255,255,255,0.5),2px 2px 5px rgba(94,184,121,0.3);
}
.titleUp{
    font-size: 25px;
    font-weight: 400;
}

.updateform input{
    border: 1px dashed gray;
    background-color: none;
}


.updateform button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 2rem;
    font-weight: 400;
    border: none;
    outline:none;
    cursor: pointer;
    background-color: #4b70e2;
    color: white;
    letter-spacing:1.15px ;
}

.imgupdate{
    width: 200px;
    height: 200px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.discriptionupdate{
    font-size: 25px;
    font-weight: 400;
}


.priceupdate{
    font-size: 25px;
    font-weight: 400;
}


/* ----------------------------------------------------productlist-------------------------------------------------------------------------- */

.listitem{
    list-style-type: none;  
}



/* ------------------------------------------------------add new prodcut----------------------------------------------------------------------- */
.input{
    background-image: url("https://neilpatel.com/wp-content/uploads/2017/05/ecommerceproduct.jpg");
    background-size: contain;
    height: 100%;
    opacity: 0.8;
}


.input h1{
    width: 26%;
    margin-left: 37%;
    margin-top: 20px;
}

.addproduct{
    height: 78vh;
    width: 50vw;
    margin-left: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.addproduct button{
    width: 50%;
    margin-left: 25%;
    height: 40px;
    border-radius: 5px;
    margin-top: 2rem;
    font-weight: 400;
    border: none;
    outline:none;
    cursor: pointer;
    background-color: #8494c4;
    color: rgb(0, 0, 0);
    letter-spacing:1.15px ;
}

.addproduct button:hover{
    background-color: #4b70e2;
    border:1px solid black;
    border-radius: 10px;
    color: white;
    height: 50px;
    width: 56%;
    margin-left: 22%;
}

.titleinput{
    height: 70px;
    width: 80%;
    margin-left: 10%;
    border: 1px dashed gray;
    border-radius: 10px;
    padding-left:30px ;
    background-color: rgba(225, 233, 240,0.9);
}

.imginput{
    height: 250px;
    width: 80%;
    margin-left: 10%;
    border: 1px dashed gray;
    border-radius: 10px;
    padding-left:30px ;
    background-color: rgba(225, 233, 240,0.9);
}


/* ------------------------Detail----------------------------- */

.productdetail{
    border: 1px solid black ;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.productdetail h1{
    height: 30px;
    width: 50%;
    margin-left: 25%;
}

.producttitle{
    font-size: 30px;
}

.productimg{

    height:100%;
    width: 250px;
    margin-left: 10%;
    border-radius: 10px;
    border: 5px solid blueviolet;

}


